<!DOCTYPE html>
<html lang="en" class="w-full h-full bg-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTprograms | Abilities</title>
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/colors.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="w-full">
    <header class="sticky">
        <nav class="navbar bg-primary">
            <a href="#"><img src="../img/logo.png" alt="LTprograms" width="100"></a>
            <ul class="center gap-2">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item"><a href="./about.html">About me</a></li>
                <li class="nav-item"><a class="active" href="">Abilities</a></li>
                <li class="nav-item"><a href="./projects.html">Projects</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="px-5">
            <h2 class="text-primary">My main stack</h2>
            <div class="line">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/75/Django_logo.svg/2560px-Django_logo.svg.png" alt="Django">
                <span class="text-secondary plus">+</span>
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png" alt="ReactJS">
                <span class="text-secondary plus">+</span>
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Postgresql_elephant.svg/1200px-Postgresql_elephant.svg.png" alt="PostgreSQL">
            </div>
        </div>
        <div class="px-5">
            <h2 class="text-primary">Frontend technologies</h2>
            <div class="line">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/800px-Angular_full_color_logo.svg.png" alt="Angular">
                <img width="200" src="https://www.10bestdesign.com/blog/content/images/2018/03/20.png" alt="Vanilla HTML+CSS+JS">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/800px-Bootstrap_logo.svg.png" alt="Bootstrap">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Tailwind_CSS_Logo.svg/320px-Tailwind_CSS_Logo.svg.png" alt="TailwindCSS">
                <img width="200" src="https://avatars.githubusercontent.com/u/70142?s=280&v=4" alt="JQuery">
            </div>
        </div>
        <div class="px-5">
            <h2 class="text-primary">Backend technologies</h2>
            <div class="line">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Laravel.svg/800px-Laravel.svg.png" alt="Laravel">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/PHP-logo.svg/1200px-PHP-logo.svg.png" alt="php">
            </div>
        </div>
        <div class="px-5">
            <h2 class="text-primary">Mobile development technologies</h2>
            <div class="line">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/React.svg/1200px-React.svg.png" alt="ReactJS">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Android_Studio_icon_%282023%29.svg/2048px-Android_Studio_icon_%282023%29.svg.png" alt="Android studio">
                <img height="200" src="https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/1200px-Java_programming_language_logo.svg.png" alt="Java">
            </div>
        </div>
        <div class="px-5">
            <h2 class="text-primary">IoT technologies</h2>
            <div class="line">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5b/Arduino_Logo_Registered.svg/1200px-Arduino_Logo_Registered.svg.png" alt="Arduino">
                <img width="200" src="https://pbs.twimg.com/profile_images/773245254979903488/yB0xE3NR_400x400.jpg" alt="ESP32">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png" alt="C++">
            </div>
        </div>
        <div class="px-5">
            <h2 class="text-primary">Additional technologies</h2>
            <div class="line">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="Github">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Git_icon.svg/2048px-Git_icon.svg.png" alt="Git">
                <img height="200" src="https://upload.wikimedia.org/wikipedia/commons/3/33/Figma-logo.svg" alt="Figma">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Database-mysql.svg/1448px-Database-mysql.svg.png" alt="SQL">
                <img width="200" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Adobe_Photoshop_CC_icon.svg/1200px-Adobe_Photoshop_CC_icon.svg.png" alt="Photoshop">
            </div>
        </div>
    </section>
    <footer>
        <ul class="center gap-2">
            <li><a target="_blank" href="#"><i class="fa-brands fa-github"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
    </footer>
</body>
</html>