<!DOCTYPE html>
<html lang="en" class="w-full h-full bg-light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LTprograms | Projects</title>
    <link rel="stylesheet" href="../css/root.css">
    <link rel="stylesheet" href="../css/colors.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="w-full">
    <header class="sticky">
        <nav class="navbar bg-primary">
            <a href="#"><img src="../img/logo.png" alt="LTprograms" width="100"></a>
            <ul class="center gap-2">
                <li class="nav-item"><a href="../index.html">Home</a></li>
                <li class="nav-item"><a href="./about.html">About me</a></li>
                <li class="nav-item"><a href="./abilities.html">Abilities</a></li>
                <li class="nav-item"><a class="active" href="">Projects</a></li>
            </ul>
        </nav>
    </header>
    <section>

    </section>
    <footer>
        <ul class="center gap-2">
            <li><a target="_blank" href="#"><i class="fa-brands fa-github"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-facebook"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
            <li><a target="_blank" href="#"><i class="fa-brands fa-whatsapp"></i></a></li>
        </ul>
    </footer>
</body>
</html>